<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>518914968783-g99ve6ibv3nr70pvq2ijnh7vtl12h0ph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518914968783-g99ve6ibv3nr70pvq2ijnh7vtl12h0ph</string>
	<key>API_KEY</key>
	<string>AIzaSyBmdMd0-AonkTuLaVG_jKDvwZ8L3wO3vSc</string>
	<key>GCM_SENDER_ID</key>
	<string>518914968783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rtsProduction.ChatMe</string>
	<key>PROJECT_ID</key>
	<string>chatme-8880b</string>
	<key>STORAGE_BUCKET</key>
	<string>chatme-8880b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518914968783:ios:1e4846464101ba34</string>
	<key>DATABASE_URL</key>
	<string>https://chatme-8880b.firebaseio.com</string>
</dict>
</plist>